<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
        <script src="https://apis.google.com/js/api.js"></script>
        <script type="text/javascript" src="/scripts/angular-utils-pagination/dirPagination.js"></script>
        <script type="text/javascript">
            var customers = JSON.parse('<%- JSON.stringify(result.form.customers) %>');
            var workTypes = JSON.parse('<%- JSON.stringify(result.form.worktypes) %>');
            var orderTypes = JSON.parse('<%- JSON.stringify(result.form.ordertypes) %>');
            var facilities = JSON.parse('<%- JSON.stringify(result.form.facilities) %>');

            var order = JSON.parse('<%- JSON.stringify(result.detail.order) %>');
            var customer = JSON.parse('<%- JSON.stringify(result.detail.customer) %>');
            var workType = JSON.parse('<%- JSON.stringify(result.detail.workType) %>');
            var orderType = JSON.parse('<%- JSON.stringify(result.detail.orderType) %>');
            var customerFacilities = JSON.parse('<%- JSON.stringify(result.detail.customerFacilities) %>');

            var edit = true;
        </script>
        <script type="text/javascript" src="/dist/order-edit.js"></script>
        <script type="text/javascript" src="/dist/order-crud.js"></script>
        <script type="text/javascript" src="/dist/order-state.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/order/order.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/datepicker.css" />
</head>

<body ng-app="OrderInput" ng-controller="OrderInputCtrl">

    <% include ../../partials/nav-in.ejs %>
        <div class="row header-row">
            <div class="col s12 light-blue darken-4 white-text header-layer">
                <h5 class="col l3 s6">Upraviť zákazku</h5>
            </div>
        </div>

        <% include ../../partials/loader.ejs %>

            <div class="row">

                <div id="state-div" class="row col s8 l8 offset-l3 offset-s2 white-text" style="margin-bottom: 40px;">

                    <a style="margin: 5px;" class="col l3 s12 start-state light-blue darken-4 btn state-btn">
                        <i class="material-icons left">build</i>Začať</a>


                    <a style="margin: 5px;" class="col l3 s12 end-state light-blue darken-4 btn state-btn">
                        <i class="material-icons left">done</i>Dokončiť</a>


                    <a style="margin: 5px;" class="col l3 s12 pickup-state light-blue darken-4 btn state-btn">
                        <i class="material-icons left">send</i>Odovzdať</a>

                </div>

                <% include ./order-input.ejs %>

            </div>


            <div class="fixed-action-btn">
                <a class="btn-floating btn-large light-blue darken-4">
                    <i id="update" class="large material-icons">save</i>
                </a>
            </div>
</body>

</html>